body {
    font-family: Arial, sans-serif;
    font-size: 2em;
    padding: 20px;
}

.small {
    display: none;
}

@media only screen and (max-width: 800px) {
    .large {
        display: none;
    }

    .small {
        display: block;
    }
}